*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: hsl(0, 1%, 34%); */
}
a{
  text-decoration: none;
}
.navbar{
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  min-height: 60px;
  align-items: center;
  background: rgb(181, 181, 171);
}
.app{
  max-width: 1080px;
  margin: 20px auto;
}